node_modules
demo_prod

.idea/.name
.idea/Halfred.iml
.idea/vcs.xml
.idea/modules.xml

tsconfig.json
webpack.config.js

src/Doctor.ts
src/Filter.ts
src/functions/detection.ts
src/functions/focus.ts
src/functions/request.ts
src/functions/visualisation.ts
src/index.ts
src/Patient.ts
