body{
    background-color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color:#3F4BE6;
    font-size:2.5em;
    text-align:center;
    margin:0;
}

#infos{
    position: absolute;
    font-size:1.5em;
    font-weight: 600;
    margin: 10px;
    top : 0;

   
}


.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    margin-top:1em;
}



button, a{
    color: #3F4BE6;
    padding: 10px 30px ;
    min-width: 200px;
    border-radius: 5px;
    border: #3F4BE6 solid 3px;
    background-color: white;
    margin: 20px;
    font-weight: 600;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.1s ease-in;
    text-align: center;
}

button:hover, a:hover{
    background-color: #3F4BE6;
    color:white;
}


#div-select{

    color: #3F4BE6;
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  
    font-size: medium;
}

#div-select select{
    font-size: medium;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    background-color: white;
    border: #3F4BE6 3px solid;
    border-radius: 5px;
    padding: 10px 30px;
    min-width: 200px;
    color: #3F4BE6;

}

#div-select select:hover{
    background-color: #3F4BE6;
    color:white;
}


#div-range{
    padding : 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

#div-range * {
    margin: 0 10px;
}


@media only screen and (max-width: 600px) {

    h1{
        font-size:1.5em;
    }
    .buttons{
        flex-direction:column;

    }

    button, a{
        margin: 10px;
        background-color: white;
    }

    #gain-output{
        margin-bottom: 10px;

    }



}







