body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 1rem;
    font-size: 3rem;
}

#div-patient{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#subscriber{
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 90vw;
    width: 100%;
    height: 100%;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.publisherContainer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25vw;
    height: 14vw;
    background-color: #ffffff;
    margin: 1rem;
    border: 2px solid #ffffff;
    z-index: 1000;
    font-family: Poppins;
    transition: 300ms ease-in-out;
}

#publisher{
    width: 100%;
    height: 100%;
    font-family: Poppins;
}

#controls{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#controls img{
    width: 2rem;
    height: 2rem;
}

#controls input{
    display: none;

}

#controls label{
    color: #FFFFFF; /* Text Color */
    transition: 0.1s; /* Hover Transition Time */
    text-decoration: none; /* Text Decoration */
    cursor: pointer; /* Cursor */
    font-family: Poppins;
    transition: 0.5s; /* Hover Transition Time */
    background-color: rgba(33, 33, 33, 0.68);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 101vmax;
    margin: 1rem;
}

#controls label:hover{
    background-color: rgba(33, 33, 33, 0.88);
}



#quitter{
    background-color: crimson;
    color: white;
    z-index: 30;
    border: 2px solid crimson;
    border-radius: 100px;
    width: 4rem;
    height: 4rem;
    transition: all 200ms ease-in-out;
    margin: 1rem;
}

#quitter:hover{
    background-color: #720202;
    border: 2px solid #720202;
}

#muted{
    display: none;
}

#hiddenVideo{
    display: none;
}


@media screen and (max-width: 768px) {
    .publisherContainer{
        position: absolute;
        bottom: 0;
        width: 34vw;
        height: 60vw;
    }

    header{
        font-size: 2rem;
        text-align: center;
    }

    #controls{
        width: fit-content;
        flex-direction: column-reverse;
        right: 0;
    }
}