body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
}

#div-patient{
    background-color: white;
}

header{
    background: #55D8ED;
    background: linear-gradient(to right, #55D8ED 0%, #54EFC3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 1001;
    margin: 1rem;
    font-size: 3rem;
    font-weight: bold;
    user-select: none;
}

#div-patient{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#subscriber{
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 90vw;
    width: 100%;
    height: 100%;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.publisherContainer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25vw;
    height: 14vw;
    background-color: #ffffff;
    margin: 1rem;
    border: 2px solid #ffffff;
    z-index: 1000;
    font-family: Poppins;
    transition: 300ms ease-in-out;
}

#publisher{
    width: 100%;
    height: 100%;
    font-family: Poppins;
}

#controls{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#controls img{
    width: 2rem;
    height: 2rem;
}

#controls input{
    display: none;

}

#controls label{
    color: #FFFFFF; /* Text Color */
    transition: 0.1s; /* Hover Transition Time */
    text-decoration: none; /* Text Decoration */
    cursor: pointer; /* Cursor */
    font-family: Poppins;
    transition: 0.5s; /* Hover Transition Time */
    background-color: rgba(33, 33, 33, 0.68);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 101vmax;
    margin: 1rem;
}

#controls label:hover{
    background-color: rgba(33, 33, 33, 0.88);
}



#quitter{
    background-color: crimson;
    color: white;
    z-index: 30;
    border: 2px solid crimson;
    border-radius: 100px;
    width: 4rem;
    height: 4rem;
    transition: all 200ms ease-in-out;
    margin: 1rem;
}

#quitter:hover{
    background-color: #720202;
    border: 2px solid #720202;
}

#muted{
    display: none;
}

#hiddenVideo{
    display: none;
}

#divDevices{
    display: none;
    position: absolute;
    bottom: 5rem;
    left: 40vw;
    margin: 1rem;
    z-index: 1000;
    border-radius: 0.5rem;
}

#divDevices input{
    display: none;
}

#divDevices input:checked + label{
    background-color: rgba(60, 204, 56, 0.88);
}

#divDevices label {
    font-size: 0.9rem;
    background-color: white;
    color: #212121; /* Text Color */
    text-decoration: none; /* Text Decoration */
    cursor: pointer; /* Cursor */
    font-family: 'Poppins';
    transition: 0.1s; /* Hover Transition Time */
    height: fit-content;
    width:100%;
    max-width: 100%;
    padding: 0.7rem;
    border-radius: 3px;
    margin: 0.2rem 0.1rem;
}

#divDevices label:hover{
    background-color: #e6e6e6;
}



@media screen and (max-width: 768px) {
    .publisherContainer{
        position: absolute;
        bottom: 0;
        width: 34vw;
        height: 60vw;
    }

    header{
        font-size: 2rem;
        text-align: center;
    }

    #controls{
        width: fit-content;
        flex-direction: column-reverse;
        right: 0;
    }
}

/*ANIMATION*/
.pl,
.pl__worm {
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.pl {
    animation-name: bump5;
    animation-timing-function: linear;
    width: 5em;
    height: 5em;
}

.pl__ring {
    stroke: hsla(var(--hue),10%,10%,0.1);
    transition: stroke 0.3s;
}

.pl__worm {
    animation-name: worm5;
    animation-timing-function: cubic-bezier(0.42,0.17,0.75,0.83);
}

/* Animations */
@keyframes bump5 {
    from,
    42%,
    46%,
    51%,
    55%,
    59%,
    63%,
    67%,
    71%,
    74%,
    78%,
    81%,
    85%,
    88%,
    92%,
    to {
        transform: translate(0,0);
    }

    44% {
        transform: translate(1.33%,6.75%);
    }

    53% {
        transform: translate(-16.67%,-0.54%);
    }

    61% {
        transform: translate(3.66%,-2.46%);
    }

    69% {
        transform: translate(-0.59%,15.27%);
    }

    76% {
        transform: translate(-1.92%,-4.68%);
    }

    83% {
        transform: translate(9.38%,0.96%);
    }

    90% {
        transform: translate(-4.55%,1.98%);
    }
}

@keyframes worm5 {
    from {
        stroke-dashoffset: 10;
    }

    25% {
        stroke-dashoffset: 295;
    }

    to {
        stroke-dashoffset: 1165;
    }
}
