body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

#videoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.elementAndlabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.video{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.video *{
    border-radius: 15px;
    background-color: transparent;
}

#subscriber{
    width: 40vw;
    height: 23vw;
}
#publisher{
    width: 20vw;
    height: 11vw;
}

#buttons{
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}




#div-select{
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border: none;
    font-size: medium;
    text-align: center;
}

#div-select select{
    font-size: medium;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 10px 30px;
    min-width: 200px;
    color: #6a00ff;
}

#div-select select:hover{
    background-color: #6a00ff;
    color:white;
}

#space{
    text-decoration: underline;
}

#div-range {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size: medium;
    text-align: center;
    padding: 10px;
}

#btn-start{
    left:0;
    right:0;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    width:150px;
    padding: 10px;
    border: none;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
}


#btn-start span{
    width: 70%;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn-start:active{
   transform: translateY(4px);
}

#btn-start:hover{
    background-color: #6a00ff;
    color: white;
}

/* Button AR */

#div-ar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6a00ff;
    font-weight: 600;
    font-size: medium;
    margin-left: 10px;
}

#div-ar p{
    line-height: 9px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(106, 0, 255, 0.91);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(106, 0, 255, 0.91);
}

input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/********************/

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) and (orientation: landscape) {

    #img-header{
        max-height: 50px!important;
    }

    #videoContainer
    {
        flex-direction: row;
    }

    #subscriber, #publisher{
        width: 46vw;
        height: 35vw;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #img-header{
        max-height: 50px!important;
    }

   #videoContainer{
        flex-direction: column;
        align-items: center;
   }

    #subscriber, #publisher{
        width: 46vw;
        height: 35vw;
    }

    #buttons{
        flex-direction:row;
        justify-content: space-around;
        width: 70vw;
    }


}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #img-header{
        max-height: 50px!important;
    }

    #videoContainer{
        flex-direction: column;
        align-items: center;
    }

    #publisher{
        width: 48vw;
        height: 36vw;
    }

    #subscriber{
        width: 55vw;
        height: 41vw;
    }

    #buttons{
        flex-direction:row;
        justify-content: space-around;
        width: 70vw;
    }

    #btn-start{
        left: 5vw;
        right: 90vw;
    }

    .elementAndlabel{
        margin : 0px;
    }

}