

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  align-items: flex-start;
}

#subscriber{

  background-color: black;
  width: 80%;
  max-width: 1200px;
  max-height: 675px;
  height: 675px;
  margin : 0 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;

}


#right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  width: 20%;
}

#publisher{
  height: 225px;
  width: 400px ;
  background-color: black;
}

#role{
  font-weight: normal;
}

#role-span {

  font-weight: bold;
  color: #6a00ff;
}

#buttons{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




#div-select{
  font-weight:600;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border: none;
  font-size: medium;
  text-align: center;
  padding: 10px;
}

#div-select select{
  font-size: medium;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 10px 30px;
  min-width: 200px;
  color: #6a00ff;

}

#div-select select:hover{
  background-color: #6a00ff;
  color:white;
}

#space{
  text-decoration: underline;
}


#div-range {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  font-size: medium;
  margin:  10px 0;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  header{
    font-size: 1em;
  }

  main{
    flex-direction: column;
    align-items: center;
  }

  #subscriber, #publisher{
    width: 90%;
    height: 20vh;
    margin: 10px 0px;
    min-width: 200px;
  }

}



#endCall{
  background-color: #b11631;
  color: white;
  border-radius: 5px;
  padding: 7px 10px;

  position: absolute;
  top: 90vh;
  right: 0;
  border: none;
  min-width: 110px;
  font-size: 1.2em;
}

#endCall:hover{
  background-color: black;
  color: white;
}